.root {
  display: flex;
  flex-direction: column;
}

.fileUploadBar {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.spin {
  margin-left: 1rem;
  width: 6rem;
}

.fileInput {
  width: 28rem;
}
