.root {
  display: flex;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #000;
}

.processItem {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  word-break: break-all;
  word-wrap: break-word;
  // flex-shrink: 0;

  & + & {
    border-left: 1px solid #000;
  }
}

.no {
  width: 6rem;
  justify-content: center;
}

.text {
  flex-basis: 32rem;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.keywords {
  width: 24rem;
}

.not_keywords {
  width: 20rem;
}

.target {
  width: 12rem;
}

.category_first {
  width: 12rem;
}

.category_second {
  width: 12rem;
}

.polarity {
  width: 6rem;
}
